.topnav {
  background-color: #00a8ad;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: aqua;
  color: black;
}

.topnav a.active {
  background-color: #757575;
  color: white;
}

body {
  background-image: url(https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif);
  background-size: cover;
}
h1 {
  color: #ffee58;
  text-align: center;
  text-shadow: 2px 2px #000000
}
p {
  color: beige;
  text-align: center;
  text-shadow: 2px 2px #000000
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

iframe {
  display: block;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  border: 0;
}
